/*Navigation Bar*/
.navbar {
  overflow: hidden;
  background-color: #333;
  border-radius: 10px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*Carousel*/
.carousel {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 1473px; /* Set the width of your carousel */
  margin: 0 auto;

}

.carousel img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}
.container{
  color: white;
  position: absolute;
  top:47px;
  right: 479px;
  text-align: center;
  width: 623px;
   /* border:solid 2px black; */
}

/*News Panel*/
.row{
  display: flex;
    flex-direction: row;
    padding: 0px 0px;
    margin: 112px 0px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 26%;
    margin: 0px 60px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
  padding: 2px 16px;
}
/*Footer*/
.foot{
  background-color: #333;
  color:white;
  display: flex;
  flex-direction: row;
  margin:25px 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 35px 0 30px;
}
.list{
 
  margin: 0px 50px;
  padding: 0px 56px;
}
.list h2{
  border-bottom: solid 4px white;
}
.list ul li{
  border-bottom: dotted 2px white;
  margin:16px 0px;
  padding: 0px 0px;
}
.list ul li a{
  text-decoration: none;
  color: white;
}
.list ul li a:hover{
  text-decoration: underline;
}